name: run

on:
  push:
    branches:
    - main
    - ci
  pull_request:
    branches:
    - main

jobs:
  tests-cpython:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: [3.9, "3.10", "3.11", "3.12", "3.13", "3.14"]
    container:
      image: python:${{ matrix.python-version }}

    steps:
    - uses: actions/checkout@v6

    - name: Install dependencies
      run: |
        python3 -m venv venv-test
        . venv-test/bin/activate
        pip install -e .[testing]

    - name: Run test suite with CPython
      run: |
        . venv-test/bin/activate
        pytest


  tests-pypy:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        pypy-version: ["3.10", "3.11", "latest"]
    container:
        image: pypy:${{ matrix.pypy-version }}

    steps:
    - uses: actions/checkout@v4

    - name: Install dependencies and run tests
      run: |
        python3 -m venv venv-test
        . venv-test/bin/activate
        pip install -e .[testing]

    - name: Run test suite with pypy
      run: |
        . venv-test/bin/activate
        pytest
